.page {
  width: 880px;
  min-width: 320px;
  background-color: #000;
  margin: 0 auto;
  min-height: 1000px;
  font-family: "Inter", "Arial", sans-serif;
}

@media (max-width: 960px) {
  .page {
    width: 90%;
  }
}

@media (max-width: 662px) {
  .page {
    width: 320px;
  }
}
