.profile__name-wrapper {
  display: flex;
  align-items: baseline;
  column-gap: 18px;
  margin-bottom: 16px;
}

@media (max-width: 649px) {
  .profile__name-wrapper {
    column-gap: 10px;
    margin-bottom: 14px;
  }
}
